# Ignore everything
*

# But not these files...
!.github
!.github/workflows
!.github/workflows/*
!scripts
!scripts/backup-and-install
!scripts/gtnh-utils
!.gitignore
!docker-compose.yml
!Dockerfile
!LICENSE
!README.md
